
html {
    background: url(/images/bluewave_bkgd70.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-image: url(/images/bluewave_bkgd70.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }*/
  /* HEADER */
  header {
    background-color: #373738;
    width: 100%;
    padding: 15px;
  }
  header ul {
    float:right;
    color: white;
  }
  header li {
    display: inline-block;
    padding: 10px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: medium;
  }
  header p {
    display: inline-block;
  }
  /* HERO AREA */
  .heroImg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
  }
  h1 {
    font-size: larger;
    color: #f14d29;
  }
  h2 {
    font-size:medium;
    font-weight: normal;
    color: #f14d29;
  }
.photo {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 200px;
  }
  button {
    padding: 15px;
    background-color: #4386ab;
    color: white;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: medium;
    border-radius: 4px;
    width: 200px;
    margin: 5px;
  }
  button:hover {
    background-color: #f14d29;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
  }
  li:hover {
    color: #f14d29;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
 } 
  /* SKILLS AREA */
.mySkills {
    width: 100%;
    padding-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: medium;
    text-align: center;
}
h5 {
    font-size: larger;
    color: #f14d29;
    padding-bottom: 75px;
  }
h3 {
    color: white;
}
  .flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .flexBox {
    width: 33%;
  }
  /* WORK AREA */
  .myWork {
    width: 100%;
    padding-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: medium;
    text-align: center;
  }
  .workGrid {
    display: grid;
    grid-template-areas: 'myArea myArea myArea';
    padding-bottom: 150px;
  }


  /* FOOTER */
 footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #373738;
    padding: 30px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 50px;
  }
  footer li {
    display: inline-block;
    padding: 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: medium;
  }